# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages in Data Science

* List of libraries used in Data Science

* List of Data Science Tools

* Arthmetic Expession 

* Turning Minutes into Hours

Some of the popular languages that Data Scientists use are:

1. Python
2. Juila
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Scipy
3. Pandas

| Data Science Tools |
-----
|Jupyter Note Book |
|Python|
|SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author

Lucas McConnell